<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yupi.springbootinit.mapper.ClassActivitiesMapper">

    <resultMap id="BaseResultMap" type="com.yupi.springbootinit.model.entity.ClassActivities">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="activityName" column="activityName" jdbcType="VARCHAR"/>
            <result property="activityDate" column="activityDate" jdbcType="TIMESTAMP"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="classId" column="classId" jdbcType="BIGINT"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,activityName,activityDate,
        description,classId,createTime,
        updateTime,isDelete
    </sql>
</mapper>
